@import "tailwindcss";
 
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Pixellari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
:root {
  --text: #3a383d;
  --text-h: #06090d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --accent: #3bc1ff;
  --outline: #000000;
}
 
.dark {
  --text: #ffffff;
  --text-h: #f3f4f6;
  --bg: #16191d;
  --border: #2e323a;
  --accent: #84cefc;
  --outline: #ffffff;
}
 
.logo {
  filter: invert(1);
}
.dark .logo {
  filter: none;
}
 
body {
  margin: 0;
  font-family: 'MyFont', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}
 
.pixel-outline {
  outline: 3px solid var(--outline);
  outline-offset: -3px;
}