@import "tailwindcss";
 
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Pixellari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
  }
}
 
body {
  margin: 0;
  font-family: 'MyFont', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}